
  <a style="text-decoration:none;" href="{{ BASE_URL }}/"><h1>Silk Weaver</h1></a>
  <h5>A novel database for relations, trees and streams</h5>

<div class="well sidebar-nav">
<ul class="nav nav-list">
 <li class="nav-header">Specification</li>
 <li><a href="{{ BASE_URL }}/model.html">Silk Data Model</a></li>
 <li class="nav-header">Format</li>
 <li><a href="{{ BASE_URL }}/text-format.html">Silk in Text</a></li>
 <li><a href="{{ BASE_URL }}/binary-format.html">Silk in Binary</a></li>
 <li class="nav-header">Silk in Action</li>
 <li><a href="{{ BASE_URL }}/weaver.html">Silk Weaver</a></li>
 <li class="nav-header">For Developers</li>
 <li><a href="{{ BASE_URL }}/development.html">Development Note</a></li>
 <li><a href="{{ BASE_URL }}/silk-core.html">silk-core library</a></li>
</ul>
</div>
  <p class="view"><a href="https://github.com/xerial/silk">View the Project on GitHub <small>xerial/silk</small></a></p>



