
<div class="brand"><h1><a style="text-decoration:none;" href="{{ BASE_PATH }}/">Silk Weaver</a></h1></div>
<h5>Scalable DBMS for relations, trees and streams</h5>

<div class="well sidebar-nav">
<ul class="nav nav-list">
 <li class="nav-header">Specification</li>
 <li><a href="{{ BASE_PATH }}/model.html">Silk Data Model</a></li>
 <li class="nav-header">Format</li>
 <li><a href="{{ BASE_PATH }}/text-format.html">Silk in Text</a></li>
 <li><a href="{{ BASE_PATH }}/binary-format.html">Silk in Binary</a></li>
 <li class="nav-header">Silk in Action</li>
 <li><a href="{{ BASE_PATH }}/weaver.html">Silk Weaver</a></li>
 <li class="divider"></li>
 <li class="nav-header">For Developers</li>
 <li><a href="{{ BASE_PATH }}/development.html">Development Note</a></li>
 <li><a href="{{ BASE_PATH }}/silk-core.html">silk-core library</a></li>
</ul>
</div>
  <p class="view"><a href="https://github.com/xerial/silk">View the Project on GitHub <small>xerial/silk</small></a></p>



