<!--
<div class="brand"><h1><a style="text-decoration:none;" href="{{ BASE_PATH }}/">Silk Weaver</a></h1></div>
<h5>Scalable DBMS for relations, trees and streams</h5>
-->

<div class="well sidebar-nav">
<ul class="nav nav-list">
 <li class="nav-header">Documentations</li>
 <li><a href="{{ BASE_PATH }}/quickstart.html">Quick Start</a></li>
 <li><a href="{{ BASE_PATH }}/model.html">Silk Distributed Dataset</a></li>
 <li><a href="{{ BASE_PATH }}/workflow.html">Silk Workflow</a></li>
 <li class="nav-header">Silk in Action</li>
 <li class="nav-header">Genome Sciences</li>
 <li><a href="http://utgenome.org/">UTGB</a></li>
 <li><a href="http://code.google.com/p/genome-weaver">Genome Weaver</a></li>
 <li class="divider"></li>
 <li class="nav-header">For Developers</li>
 <li><a href="{{ BASE_PATH }}/development.html">Development Note</a></li>
 <li><a href="https://github.com/xerial/silk/issues">Issue Tracker</a></li>
</ul>
</div>
