@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
 padding:55px;
 font:14px/1.5 Verdana, Arial, Helvetica, sans-serif;

 color:#000;
 font-weight:300;
}

.brand a {
  color: #0088cc;
  text-decoration: none;
}

.brand a:hover  {
  color: #0088cc;
  text-decoration: none;
}


.well {
 padding: 10px;
}

.well .nav-list {
 padding-left:5px;
 padding-right:5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color:#222;
  margin:0 0 20px;
}

p {
 font:14px/1.5 Verdana, Arial, Helvetica, sans-serif;
 font-weight:300;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}


code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:12px;
}


pre,pre.prettyprint {
  padding:8px 15px;
  background: #fefbf3;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}


