@import url(http://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans)

body {
 font:14px 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
 color:#000; 
 font-weight:400;
}

p, a, li {
 font:14px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#222;
  margin:12px 0 5px;
}


.brand a {
  color: #0088cc;
  text-decoration: none;
}

.brand a:hover  {
  color: #0088cc;
  text-decoration: none;
}


.navbar a {
  color: #336699;
}
.navbar .brand {
  font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #336699;
  background-image: -moz-linear-gradient(top, #336699, #224466);
  background-image: -ms-linear-gradient(top, #336699, #224466);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#336699), to(#224466));
  background-image: -webkit-linear-gradient(top, #336699, #224466);
  background-image: -o-linear-gradient(top, #336699, #224466);
  background-image: linear-gradient(top, #336699, #224466);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#336699', endColorstr='#224466', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  font-weight: 400;
  color: #CCCCCC;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #224466;
}


.well {
 padding: 10px;
}

.well .nav-list {
 padding-left:5px;
 padding-right:5px;
}


.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}


code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:12px;
}


pre,pre.prettyprint {
  padding:8px 15px;
  background: #fefbf3;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}


