<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Silk Weaver</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{ site.author.name }}">

  <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ BASE_PATH }}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/assets/css/docs.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/assets/js/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
 

    <link rel="stylesheet" href="{{ BASE_PATH }}/stylesheets/styles.css">
<!--
    <link rel="stylesheet" href="{{ BASE_PATH }}/stylesheets/pygment_trac.css">
-->

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images -->
    <link rel="shortcut icon" href="{{BASE_PATH}}/assets/favicon.ico">
  <!-- 
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <div class="row">
            <div class="container-fluid">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
              </a>
              <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
	      <div class="nav-collapse">
		<ul class="nav">
		  <li><a><i class="icon-book icon-white"></i> Documentations</a></li>
		  <li><a><i class="icon-arrow-down icon-white"></i> Download</a></li>
		  <li><a href="http://github.com/xerial/silk"><i class="icon-leaf icon-white"></i> GitHub</a></li>
		  <li><a><i class="icon-th-list icon-white"></i> API</a></li>
		  <li><a href="http://xerial.org/leo"><i class="icon-user icon-white"></i> About</a></li>
		</ul>
	      </div>
            </div>
	  </div>
	</div>
      </div>
    </div>

    <div class="container">
	<div class="row">
	  <div class="span3">
	    {% include sidenav.html %}
	  </div>
	  <div class="span9">
	    {{ content }}
	  </div>
	</div>

      
      <footer>
	<p>This project is maintained by <a href="http://www.xerial.org/leo">Taro L. Saito</a> (Twitter <a href="http://twitter.com/#!/taroleo">@taroleo</a>) </p>
      </footer>
    </div>  

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ BASE_PATH}}/assets/js/jquery.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-transition.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-alert.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-modal.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-dropdown.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-tab.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-popover.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-button.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-collapse.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-carousel.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/bootstrap-typeahead.js"></script>
    <script src="{{ BASE_PATH}}/assets/js/google-code-prettify/prettify.js"></script>
    <script>$(document).ready( function(){$('code').parent('pre').addClass('prettyprint');prettyPrint();});</script>
    {% include JB/analytics %}
  </body>
</html>
